<template>
    <figure v-bind:style="{ width: width }">
        <img :src="image" :alt="caption"/>
        <figcaption v-if="caption" class="image-caption">
            {{caption}}
        </figcaption>
    </figure>
</template>

<script>
export default {
    props: {
        image: String,
        caption: String,
        width: String,
    }
}
</script>