<template>
    <div v-if="dString" class="event-date-container" :title="this.dString">
        <span class="event-day">{{theDay}}</span>
        <br/>
        <small class="event-m-y">{{theMonth}} {{theYear}}</small>
    </div>
</template>

<style scoped>
.event-day {
    font-size: 133%;
    font-weight: bolder;
}

.event-m-y {
    border-top: 1px solid #ccc;
}

.event-date-container {
    border: 1px solid #ccc;
    border-top: 20px solid #F44336;
    border-radius: .4rem;
    margin: .5rem;
}
</style>

<script>
var moment = require('moment');

export default {
    props: ['dString'],
    computed: {
        thedate() {
            return moment(this.dString);
        },
        theYear() {
            return this.thedate.format('YYYY');
        },
        theDay() {
            return this.thedate.format('DD');
        },
        theMonth() {
            return this.thedate.format('MMM');
        }
    },
    methods: {
        formatDate() {
            return this.thedate.toISOString().slice(0,10);
        },
    },
}
</script>