<template>
  <div
    class="theme-container"
    :class="pageClasses"
    @touchstart="onTouchStart"
    @touchend="onTouchEnd"
  >
    <Navbar
      v-if="shouldShowNavbar"
      @toggle-sidebar="toggleSidebar"
    />

    <div
      class="sidebar-mask"
      @click="toggleSidebar(false)"
    ></div>

    <Sidebar
      :items="sidebarItems"
      @toggle-sidebar="toggleSidebar"
    >
      <slot
        name="sidebar-top"
        slot="top"
      />
      <slot
        name="sidebar-bottom"
        slot="bottom"
      />
    </Sidebar>

    <div class="page" style="padding: 10rem;">
        <h1>404</h1>
        <blockquote>{{ getMsg() }}</blockquote>
        <router-link to="/">Take me home.</router-link>
        <br/><br/><br/><br/>
        <div style="text-align: center;">
            <img :src="getGif" alt="A fun gif that is 404 related"/>
        </div>
    </div>

    <div class="footer">
      <h3 style="padding-bottom: 1em;">
        Follow me on 
        <a href="https://twitter.com/olearycrew">Twitter <i class="fab fa-twitter"></i></a>,
        <a href="https://twitch.tv/olearycrew">Twitch <i class="fab fa-twitch"></i></a>,
        <a href="https://linkedin.com/in/olearycrew">LinkedIn <i class="fab fa-linkedin"></i></a>
      </h3>
      <span v-if="pagedata.footer">
        {{ pagedata.footer }}
        <br/><br/>
      </span>
      ©️ {{thisYear}} Brendan O'Leary <br/>
      Made with ❤️ in Maryland
    </div>

    <SWUpdatePopup :updateEvent="swUpdateEvent"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '../theme/components/Navbar.vue';
import nprogress from 'nprogress'
import Blog from '../theme/layout/Blog.vue'
import Home from '../theme/layout/Home.vue'
import Page from '../theme/layout/Page.vue'
import Sidebar from '../theme/components/Sidebar.vue'
import SWUpdatePopup from '../theme/components/SWUpdatePopup.vue'
import { resolveSidebarItems } from '../theme/util'

const msgs = [
  `There's nothing here.`,
  `How did we get here?`,
  `That's a Four-Oh-Four.`,
  `Looks like we've got some broken links.`
];

const gifs = [
  `https://media.giphy.com/media/1bAdvIjqaXCSc/giphy.gif`,
  `https://media.giphy.com/media/11j6oiwfuzwu9G/giphy.gif`,
  `https://media.giphy.com/media/F9xSlEGUPObba/giphy.gif`,
  `https://media.giphy.com/media/u35ybV7uLQs7e/giphy.gif`,
  `https://media.giphy.com/media/3o7aTlAhsx5wNVh4Dm/giphy.gif`,
]

export default Vue.extend({
    components: {
        Blog,
        Home, 
        Page, 
        Sidebar, 
        Navbar, 
        SWUpdatePopup 
    },

  data () {
    return {
      isSidebarOpen: false,
      swUpdateEvent: null,
      thisYear: (new Date()).getFullYear()
    }
  },

  computed: {
    pagedata () {
      return this.$page.frontmatter
    },
    shouldShowNavbar () {
      const { themeConfig } = this.$site
      const { frontmatter } = this.$page
      if (
        frontmatter.navbar === false ||
        themeConfig.navbar === false) {
        return false
      }
      return (
        this.$title ||
        themeConfig.logo ||
        themeConfig.repo ||
        themeConfig.nav ||
        this.$themeLocaleConfig.nav
      )
    },

    shouldShowSidebar () {
      const { frontmatter } = this.$page
      return (
        !frontmatter.layout &&
        !frontmatter.home &&
        frontmatter.sidebar !== false &&
        this.sidebarItems.length
      )
    },

    sidebarItems () {
      return resolveSidebarItems(
        this.$page,
        this.$route,
        this.$site,
        this.$localePath
      )
    },

    pageClasses () {
      const userPageClass = this.$page.frontmatter.pageClass
      return [
        {
          'no-navbar': !this.shouldShowNavbar,
          'sidebar-open': this.isSidebarOpen,
          'no-sidebar': !this.shouldShowSidebar
        },
        userPageClass
      ]
    },

    getGif () {
      return gifs[Math.floor(Math.random() * msgs.length)]
    }
  },

  mounted () {
    window.addEventListener('scroll', this.onScroll)

    // configure progress bar
    nprogress.configure({ showSpinner: false })

    this.$router.beforeEach((to, from, next) => {
      if (to.path !== from.path && !Vue.component(to.name)) {
        nprogress.start()
      }
      next()
    })

    this.$router.afterEach(() => {
      nprogress.done()
      this.isSidebarOpen = false
    })

    this.$on('sw-updated', this.onSWUpdated)
  },

  methods: {
    toggleSidebar (to) {
      this.isSidebarOpen = typeof to === 'boolean' ? to : !this.isSidebarOpen
    },

    // side swipe
    onTouchStart (e) {
      this.touchStart = {
        x: e.changedTouches[0].clientX,
        y: e.changedTouches[0].clientY
      }
    },

    onTouchEnd (e) {
      const dx = e.changedTouches[0].clientX - this.touchStart.x
      const dy = e.changedTouches[0].clientY - this.touchStart.y
      if (Math.abs(dx) > Math.abs(dy) && Math.abs(dx) > 40) {
        if (dx > 0 && this.touchStart.x <= 80) {
          this.toggleSidebar(true)
        } else {
          this.toggleSidebar(false)
        }
      }
    },

    onSWUpdated (e) {
      this.swUpdateEvent = e
    },

    getMsg () {
      return msgs[Math.floor(Math.random() * msgs.length)]
    },
  }
});

</script>

<style src="prismjs/themes/prism-tomorrow.css"></style>
<style src="../theme/styles/theme.styl" lang="stylus"></style>
<style src="../theme/styles/all.min.css"></style>