<template>
    <div>
        <h2>
            <a :href="link" target="_blank">
                {{title}}
            </a>
        </h2>
        <div class="cards">
            <div class="card">
                {{description}} <br/><br/>
                <div v-if="extralinks">
                    <br/>
                    <div v-for="item in extralinks">
                        <a :href="item.link" class="button">
                            {{item.text}} <i class="fa fa-external-link-alt"/>
                        </a>
                        <br/><br/>
                    </div>
                    <br/>
                </div>
                <a :href="link" target="_blank" class="button btn-primary">
                    Learn more <i class="fa fa-external-link-alt"/>
                </a>
            </div>
            <div class="card" v-if="image">
                <img :src="image" :alt="title"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        image: String,
        description: String,
        title: String,
        link: String,
        extralinks: Array
    }
}
</script>