<template>
    <div class="cards">
        <div class=""
            v-for="(item, index) in filteredList"
            :key="index"
        >
            <h3>{{item.frontmatter.title}}</h3>
            <p>
                {{item.frontmatter.tagline}}
            </p>
            <router-link class="button" :to="item.path">More ></router-link>
            <br/><br/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TaskList',
    props: {
        pages: {
            type: Array,
            default: []
        },
    },
    computed: {
        filteredList() {
            if (this.pages) {
                return this.pages.filter(p => (p.frontmatter.talk === true)).sort().reverse()
            }
        }
    }
}
</script>