<template>
    <div>
        <h1>{{talk.title}}</h1>
        <div v-if="talk.video" class="text-center">
            <iframe width="560" height="315" :src="talk.video" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <h2>Abstract</h2>
        <p>
            <span v-html="getAbstract"></span>
        </p>

        <div v-if="talk.slides">
            <h2>Slides</h2>

            <div class="text-center">
            <iframe 
                :src="`${talk.slides}?start=true&loop=true&delayms=3000`"
                frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        
        <div v-if="talk.events">
            <h2>Previous Presentations</h2>

            <div class="cards">
                <div v-for="(ev, index) in talk.events" class="card">
                    <table>
                        <tr>
                            <td>
                                <h4>{{ev.name}}</h4>
                            </td>
                            <td>
                                <small><i>{{ev.date}}</i></small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <a :href="ev.href" v-if="ev.href" target="_blank" class="button btn-primary">Watch</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['talk'],
    computed: {
        getAbstract() {
            return this.talk.abstract.toString().replace('\n', '<br/><br/>');
        }
    }
}
</script>